/*header*/
*{
	margin: 0;
	padding: 0;
}
.clearfix{
	clear: both;
}
#contact>.header{
	width: 100%;
	height:300px;
	background-image:url(../img/contact.png);
	background-size: 100% 100%; 
	text-align: center;
}
#contact>.header>div{
	width: 1000px;
	margin: 0 auto;
	padding-top: 135px;
	text-align: left;
	padding-left: 100px;
}
#contact>.header>div>p{
	font-size: 40px;
	color: #FFFFFF;
	line-height: 60px;
}
/*container*/
#contact>.container{
	width: 1000px;
	margin: 0 auto;
}
#contact>.container>p:first-child{
	font-size: 32px;
	color: #333333;
	line-height: 70px;
	border-bottom: 1px solid gainsboro;
}
#contact>.container>p:nth-child(2),#contact>.container>p:nth-child(4){
	font-size: 20px;
	color: #333333;
	margin-top: 23px;
	margin-bottom: 10px;
}
#contact>.container>p:nth-child(3),#contact>.container>p:nth-child(5),#contact>.container>p:nth-child(7),#contact>.container>div{
	font-size: 16px;
	color: #666666;
	width: 1000px;
	margin: 5px auto;
}
#contact>.container>div{
	margin-top: 54px;
}
#contact>.container>p:nth-child(5){
	margin-top: 5px;
}